.roster-container {
    border: solid red 3px;
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

ol li {
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}